body {
    background-color: #f4757e;
}

table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #3f3d41;
    border-radius: 8%;
}

thead tr td {
    height: 30px;
    background-color: #a2af77;
    border-radius: 15%;
}

td {
    width: 25px;
    text-align: center;
    background-color: #57585a;
    color: white;
    padding: 5px;
    border: 3px solid #3f3d41;
}

.red {
    background-color: #f3582b;
}

.black td {
    background-color: #0e0c0d;
}